<!DOCTYPE html>
<html>
<head>
    @Styles.Render("~/bundles/site")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "Index", "Home", new { id = "" }, htmlAttributes: new { Href = "/Home/Index/#story" })</li>
                    <li>@Html.ActionLink("Reservation", "Index", "Home", routeValues: null, htmlAttributes: new { Href = "/Home/Index/#reservation" })</li>
                    <li>@Html.ActionLink("Map", "Index", "Home", routeValues: null, htmlAttributes: new { Href = "/Home/Index/#address" })</li>
                    <li>@Html.ActionLink("Comment", "Index", "Home", routeValues: null, htmlAttributes: new { Href = "/Home/Index/#message" })</li>
                    <li>@Html.ActionLink("Order", "Create", "OrderItems")</li>
                    <li>@Html.ActionLink("Check Reservations", "Index", "Reservations")</li>
                    <li>@Html.ActionLink("Waiting List", "Create", "WaitingLists")</li>
                    <li>@Html.ActionLink("Menu", "Create", "Menus")</li>


                    @*Uncomment to add Adminisrator*@
                    @*<li>@Html.ActionLink("Role Manager", "Index", "Roles")</li>*@
                    <li>@Html.ActionLink("Register Employee", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>

    <section id="beer" class="description_content">
        <div class="orderConfirmation background_content">
            <h1>Order Confirmation</h1>
        </div>
    </section>


    <div class="container body-content">
        @RenderBody()


    </div>

    @*<footer>

        <div>
            <br /><br /><br /><br /><br /><br />
            <p>&copy; @DateTime.Now.Year - phanmembachkhoa.com</p>
        </div>
    </footer>*@


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


